@inject HttpClient HttpClient
@using BitcoinFansWebAssembly.Models

<h3>PriceGrid</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var dd = await HttpClient.GetFromJsonAsync<PriceObject>("https://api.coingecko.com/api/v3/simple/price?ids=vechain%2Cbitcoin%2Cethereum&vs_currencies=usd%2Csek");
    }

}
