@page "/counter"
@inject HttpClient HttpClient
@using BitcoinFansWebAssembly.Data



<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {

    private int currentCount = 0;
    HttpClient client = new HttpClient();

    private void IncrementCount()
    {

        GetJson();

        currentCount++;
    }

    public async Task GetJson()
    {
        var dd = await HttpClient.GetFromJsonAsync<PriceObject>("https://api.coingecko.com/api/v3/simple/price?ids=vechain%2Cbitcoin%2Cethereum&vs_currencies=usd%2Csek");
    }

}
