@page "/counter"
@inject HttpClient HttpClient
@using BitcoinFansWebAssembly.Models

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        var data = await HttpClient.GetFromJsonAsync<PublicTreasury>("https://api.coingecko.com/api/v3/companies/public_treasury/bitcoin");

        int result = 0;
        foreach (var item in data.companies)
        {
            result += item.total_holdings;
        }
    }
}
